<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDXuDoBMPh0YFH4lFTWb8HLGLGkcVdn3Nw</string>
	<key>GCM_SENDER_ID</key>
	<string>983787250141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pratamaivan.Voucher-Together</string>
	<key>PROJECT_ID</key>
	<string>voucher-together</string>
	<key>STORAGE_BUCKET</key>
	<string>voucher-together.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983787250141:ios:2d38af4ad9b066cdf81634</string>
</dict>
</plist>